version: 2.1

executors:
  cimg-base:
    docker:
      - image: cimg/base:2020.09
jobs:
  build-upload:
    executor: cimg-base
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "26:6b:63:f1:64:84:8f:ee:b1:b4:7c:c5:41:85:9d:84"
      - run:
          name: key-scan
          command: ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run:
          name: update
          command: sudo apt-get update
      - run:
          name: install hugo
          command: sudo apt-get install hugo
      - run:
          name: git clone destination repo
          command: git clone git@github.com:runeanielsen/runeanielsen.github.io.git
      - run:
          name: run deploy script
          command: |
             git config --global user.email "runenielsen@runbox.com"
             git config --global user.name "runeanielsen"
             ./deploy.sh
workflows:
  build-upload:
    jobs:
      - build-upload:
          filters:
            tags:
              only: /.*/
