/* START Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END Reset CSS */

/* START Page Layout */
:root {
  --main-bg-color: white;
  --secondary-bg-color: rgba(128, 128, 128, 0.12);
  --headline-color: black;
  --headline-light-color: black;
  --headline-font: "Jura", sans-serif;
  --default-font: "Jura", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--default-font);
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  grid-area: main;
}
/* END Page Layout */

/* START Post */
.post {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 3px solid var(--secondary-bg-color);
  text-align: center;
}

.post:hover {
  border-bottom: 3px solid black;
}

.post__link {
  color: var(--headline-light-color);
  text-decoration: none;
}

.post__title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  padding-top: 0px;
}

.post__description {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.post__date {
  font-size: 16px;
  padding: 20px 20px 20px 0px;
}
/* END Post */

/* START Pagination */
.pagination {
  display: flex;
  font-size: 26px;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination-indicator {
  padding: 0px 10px;
}

.pagination-action {
  color: var(--headline-light-color);
}
/* END Pagination */

/* START Header */
.header {
  grid-area: header;
  display: flex;
  color: var(--headline-color);
  border-bottom: 3px solid black;
  display: flex;
  padding: 20px 0px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.header-collection {
  display: flex;
}

.header-item {
  flex: 1;
  align-items: center;
  display: flex;
}

.header-item__title {
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
}

.header-item__icon {
  font-size: 40px;
  padding: 5px;
}

.header-item__link {
  color: var(--headline-light-color);
  text-decoration: none;
}
/* END Header */

/* START Footer */
.footer {
  grid-area: footer;
}
/* END Footer */

/* START Footer */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

/* START Blog Post */
.blog-post {
  line-height: 1;
  overflow-x: auto;
  padding: 20px;
}

.blog-post p {
  padding: 10px 0;
}

.blog-post img {
  max-width: 100%;
}

.blog-post__title {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

.blog-post__date {
  font-size: 16px;
  padding: 0;
  text-align: center;
}

.blog-post__content {
  line-height: 1.5;
  font-size: 18px;
}

.blog-post li {
  padding: 5px;
}

.blog-post ol p {
  padding: 0;
}
/* END Blog Post */

/* START Layout Blog Post */
.highlight pre {
  padding: 10px 20px;
  margin: 15px 0px;
  overflow-x: auto;
}

.highlight scroll {
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  padding: 15px 0px 5px 0px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

ol,
ul {
  padding: 10px 0px;
  list-style: circle;
  margin-left: 20px;
}
/* END Layout Blog Post */

@media only screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .post {
    text-align: left;
    padding: 15px;
  }

  .blog-post {
    padding: 15px;
  }

  .post__description {
    text-align: justify;
  }

  .blog-post__title {
    text-align: left;
    font-size: 36px;
    margin-top: 15px;
  }

  .blog-post__content {
    text-align: justify;
    font-size: 20px;
  }

  .blog-post__date {
    margin-top: 10px;
    text-align: left;
    font-size: 18px;
  }

  .header-collection {
    padding-right: 5px;
  }

  h1 {
    padding: 0px;
    font-size: 40px;
  }
}

@media only screen and (min-width: 1250px) {
  .header {
    margin-bottom: 15px;
  }

  .header-collection {
    padding-right: 0px;
  }

  .post {
    padding: 15px 0px 0px 0px;
  }

  .header-item__title {
    padding: 0;
    font-size: 28px;
  }

  .blog-post {
    padding: 0px;
  }
}
