:root {
    --main-bg-color: white;
    --secondary-bg-color: rgba(128,128,128, .12);
    --headline-color: black;
    --headline-light-color: black;
    --headline-font: 'Jura', sans-serif;
    --default-font: 'Jura', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: var(--default-font);
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    width: 100%;
}

.main {
    grid-area: main;
}

.main__headline {
    font-size: 36px;
    font-family: var(--headline-font); 
    color: var(--headline-color);
}

.main__sub-headline {
    font-size: 28px;
    font-family: var(--headline-font); 
    color: var(--headline-color);
}

.post {
    padding: 20px; 
    border-bottom: 1px solid var(--secondary-bg-color);
}

.post:hover {
    background-color: var(--secondary-bg-color);
}

.post__link {
    color: var(--headline-light-color);
    text-decoration: none;
}

.post__title {
    font-size: 30px; 
    margin-bottom: 20px;
    font-weight: 500;
}

.post__description {
    font-size: 20px; 
}

.post__date {
    font-size: 16px;
    padding: 10px;
}

.header {
    grid-area: header;
    display: flex;
    color: var(--headline-color);
    border-bottom: 3px solid black;
    display: flex;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.header-item {
    flex: 1; 
}

.header-item__title {
    font-size: 30px; 
    font-weight: 600;
}

.header-item__title {
   
}


.footer {
    grid-area: footer;
}

.grid-container {
    width: 1024px;
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    text-align: center;
}

