:root {
    --main-bg-color: white;
    --secondary-bg-color: rgba(128,128,128, .12);
    --headline-color: black;
    --headline-light-color: black;
    --headline-font: 'Jura', sans-serif;
    --default-font: 'Jura', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: var(--default-font);
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    width: 100%;
}

.main {
    grid-area: main;
}

.main__headline {
    font-size: 36px;
    font-family: var(--headline-font); 
    color: var(--headline-color);
}

.main__sub-headline {
    font-size: 28px;
    font-family: var(--headline-font); 
    color: var(--headline-color);
}

.post {
    padding: 20px 20px 20px 0px; 
    border: 3px dashed white;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--secondary-bg-color);
}

.post:hover {
    border-bottom: 3px solid  black;
}

.post__link {
    color: var(--headline-light-color);
    text-decoration: none;
}

.post__title {
    font-size: 30px; 
    margin-bottom: 20px;
    font-weight: 500;
}

.post__description {
    font-size: 20px; 
}

.post__date {
    font-size: 16px;
    padding: 20px 20px 20px 0px;
}

.header {
    grid-area: header;
    display: flex;
    color: var(--headline-color);
    border-bottom: 3px solid black;
    display: flex;
    padding: 20px 0px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.header-collection {
    display: flex;
}

.header-item {
    flex: 1; 
    align-items: center;
    display: flex;
}

.header-item__title {
    font-size: 24px; 
    font-weight: 600;
    padding: 0;
}

.header-item__icon {
    font-size: 30px; 
    padding: 5px;
}

.header-item__link {
    color: var(--headline-light-color);
    text-decoration: none;   
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    width: 100%;
    max-width: 1500px;
}

.blog-post {
    line-height: 2;
    overflow-x: auto;
}

.blog-post__title {
    font-size: 46px;
    padding: 0;
}

.blog-post__date {
    font-size: 20px;
    padding: 0;
}

.blog-post__content {
    line-height: 1.5;
    font-size: 20px; 
}

.highlight {
}

.highlight pre {
    padding: 10px 20px;
    margin: 15px 0px;
    overflow-x: auto;
}

.highlight scroll {
    overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    padding: 15px 0px 5px 0px; 
}

h1 {
    font-size: 36px; 
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

ol, ul {
    padding: 10px 0px;
	list-style: circle;
    margin-left: 20px;
}

li {
    padding: 5px;
}
