{{ define "main" }}
<main class="main">
    {{ range .Paginator.Pages }}
        <a class="post__link" href="{{ .Permalink }}">
            <article class="post">
                <h2 class="post__title">{{ .Title }}</h2>
                <p class="post__description">{{ .Description }}</p> 
                <p class="post__date">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
            </article>
        </a>
    {{ end }} 

    {{ if .Paginator }}
        {{ partial "pagination" . }}
    {{ end }}
</main>
{{ end }}
