{{ define "main" }}
<main class="main">
    {{ range .Paginator.Pages }}
        <a class="post__link" href="{{ .Permalink }}">
            <article class="post">
                <h2 class="post__title">{{ .Title }}</h2>
                <p class="post__description">{{ .Description }}</p> 
                <p class="post__date">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
            </article>
        </a>
    {{ end }} 

    {{ if .Paginator }}
        <div class="pagination">
            <div class="pagination-container">
                {{ if .Paginator.HasPrev }}
                    <a class="pagination-action" href="{{.Paginator.Prev.URL}}">
                        <-
                    </a>
                {{ end }}

                {{ if gt .Paginator.TotalPages 1 }}
                    <div class="pagination-indicator">
                        {{.Paginator.PageNumber}}/{{.Paginator.TotalPages}}
                    </div>
                {{ end }}

                {{ if .Paginator.HasNext }}
                    <a class="pagination-action" href="{{.Paginator.Next.URL}}">
                        ->
                    </a>
                {{ end }}        
            </div>
        </div>
    {{ end }}
</main>
{{ end }}
